@use './styles/font-sizes.scss' as fontSize;
@use './styles/colors.scss' as colors;
@use './styles/font-family.scss' as fontFamily;

body {
  margin: 0;
  font-family: fontFamily.$quickSand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$primaryLight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: fontSize.$default;
  color: colors.$primaryDarK;
}

.pageLayout {
  min-width: 300px;
  max-width: 1024px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
